h1{
    color: aqua;
}

.grid img{
    border:2px solid black;
    border-radius: 50px;
}

.footer{
    display: flex;
    justify-content: flex-end;
}
.menu{
    display: flex;
    justify-content:space-between;
    background-color: brown;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}


.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: gray;
}
.item{
    width: 310px;
    border-radius: 20px;
    background-color: blanchedalmond;
    margin: 10px;
    padding-top: 10px;
}